@model IEnumerable<Ropey_DVDs.Models.Producer>

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>



<div class="container p-3">
    <div class="row pt-4">
        <div class="col-8">
            <h2 class="text-primary"> Add producers </h2>

        </div>
        <div class="col-4 text-end">
            <a asp-action="Create" class="btn btn-outline-primary"> <i class="bi bi-plus-circle-fill"></i>
             
            </a>
        </div>
    </div>
</div>
<table class="table table-bordered table-striped" border="1">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.ProducerName)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.ProducerName)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.ProducerNumber"><i class="fa-solid fa-pen-fancy"></i> </a> |
                <a asp-action="Details" asp-route-id="@item.ProducerNumber">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.ProducerNumber"><i class="fa-solid fa-trash"></i></a>
            </td>
        </tr>
}
    </tbody>
</table>
